<div class="tech-btm">
    <h4>Mail bültenine ücretsiz üye olun</h4>
    <p>Teknoloji,spor ve diğer... </p>
  <form asp-action="Subscribe" asp-controller="NewsLetter" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>